<ul class="home-menu">
  <% if current_user %>
    <li><%= link_to "Sign Out", signout_path, class: "btn btn-out btn-lg outline" %></li>
  <% else %>
    <li><%= link_to "Guest", root_url, class: "btn btn-guest btn-lrg outline" %></li>
    <li><%= link_to "Sign Up", signup_path, class: "btn btn-up btn-lrg outline" %></li>
    <li><%= link_to "Sign In", signin_path, class: "btn btn-in btn-lrg outline" %></li>
  <% end %>
</ul>
